body {
  font-family: Arial;
  background: #f5f5f5;
}
.container {
  width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
input {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  cursor: pointer;
}
